<IfModule mod_rewrite.c>
    Header set Accesss-Control-Allow-Origin "*"
    <Files "service-worker.js">
        Header set Service-Worker-Allowed "/"
    </Files>
    <Files "manifest.json">
        Header set Service-Worker-Allowed "/"
    </Files>
    
</IfModule>

